/* TRABALHO DE CORNO  */

#my-cards .product-card .product-images .blue{
    background-image:url('../../img/Placa-mãe-N7-Z390/0.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#my-cards  .product-card .product-images  .green{
    background-image:url('../../img/Placa-mãe-N7-Z390/1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#my-cards  .product-card .product-images .yellow{
    background-image:url('../../img/Placa-mãe-N7-Z390/2.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#my-cards .product-card .product-images .p-img{
    background-image:url('../../img/Placa-mãe-N7-Z390/3.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#my-cards .product-card .product-images .X299X-0{
    background-image:url('../../img/Placa-mãe-X299X-Aorus-Xtreme-Waterforce/0.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .X299X-1{
    background-image:url('../../img/Placa-mãe-X299X-Aorus-Xtreme-Waterforce/1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .X299X-2{
    background-image:url('../../img/Placa-mãe-X299X-Aorus-Xtreme-Waterforce/2.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .X299X-3{
    background-image:url('../../img/Placa-mãe-X299X-Aorus-Xtreme-Waterforce/3.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Monitor-GAMER-0{
    background-image:url('../../img/Monitor-GAMER-AOC-32-TELA-CURVA-FULL-HD-AG322FCX75/0.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#my-cards .product-card .product-images  .Monitor-GAMER-1{
    background-image:url('../../img/Monitor-GAMER-AOC-32-TELA-CURVA-FULL-HD-AG322FCX75/1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images  .Monitor-GAMER-2{
    background-image:url('../../img/Monitor-GAMER-AOC-32-TELA-CURVA-FULL-HD-AG322FCX75/2.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Monitor-GAMER-3{
    background-image:url('../../img/Monitor-GAMER-AOC-32-TELA-CURVA-FULL-HD-AG322FCX75/3.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Gabinete-Gamer-Nzxt-0{
    background-image:url('../../img/Gabinete-Gamer-Nzxt-S340-Branco-White/0.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Gabinete-Gamer-Nzxt-1{
    background-image:url('../../img/Gabinete-Gamer-Nzxt-S340-Branco-White/1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Gabinete-Gamer-Nzxt-2{
    background-image:url('../../img/Gabinete-Gamer-Nzxt-S340-Branco-White/2.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Gabinete-Gamer-Nzxt-3{
    background-image:url('../../img/Gabinete-Gamer-Nzxt-S340-Branco-White/3.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Z390-0{
    background-image:url('../../img/Placa-mãe-Z390-Aorus-Pro-WIFI/2018100517281319_big.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Z390-1{
    background-image:url('../../img/Placa-mãe-Z390-Aorus-Pro-WIFI/2018100517281375_big.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Z390-2{
    background-image:url('../../img/Placa-mãe-Z390-Aorus-Pro-WIFI/2018100517281395_big.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Z390-3{
    background-image:url('../../img/Placa-mãe-Z390-Aorus-Pro-WIFI/2019012514500381ca8692c2ae0204a26ad2d945de5522fc_big.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


#my-cards .product-card .product-images .Cooler-0{
    background-image:url('../../img/Cooler-Aer-RGB-2/0.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#my-cards .product-card .product-images .Cooler-1{
    background-image:url('../../img/Cooler-Aer-RGB-2/1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#my-cards .product-card .product-images .Cooler-2{
    background-image:url('../../img/Cooler-Aer-RGB-2/2.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#my-cards .product-card .product-images .Cooler-3{
    background-image:url('../../img/Cooler-Aer-RGB-2/3.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}



 /* PRODUTO PRINCIPAL - CSS PARA MODIFICAR  */

#my-cards .product-card .product-pic{
    background-image: url('../../img/Placa-mãe-N7-Z390/0.png');
    background-size: cover;
    background-position: center;
    width:100%;
    height:300px;
    transition:.3s;
    margin-top:1rem;
}

#my-cards .product-pic-1{
    width:100%;
    height:300px;
    background-size: cover;
    background-position: center;
    transition:.3s;
    margin-top:1rem;
    background-image: url('../../img/Placa-mãe-X299X-Aorus-Xtreme-Waterforce/0.png');
}


#my-cards .product-pic-2{
    width:100%;
    height:300px;
    background-size: cover;
    background-position: center;
    transition:.3s;
    margin-top:1rem;
    background-image: url('../../img/Monitor-GAMER-AOC-32-TELA-CURVA-FULL-HD-AG322FCX75/0.png');
}


#my-cards .product-pic-3{
    width:100%;
    height:300px;
    background-size: cover;
    background-position: center;
    transition:.3s;
    margin-top:1rem;
    background-image: url('../../img/Gabinete-Gamer-Nzxt-S340-Branco-White/0.png');
}


#my-cards .product-pic-4{
    width:100%;
    height:300px;
    background-size: cover;
    background-position: center;
    transition:.3s;
    margin-top:1rem;
    background-image: url('../../img/Placa-mãe-Z390-Aorus-Pro-WIFI/2019012514500381ca8692c2ae0204a26ad2d945de5522fc_big.png');  
}

#my-cards .product-pic-5{
    width:100%;
    height:300px;
    background-size: cover;
    background-position: center;
    transition:.3s;
    margin-top:1rem;
    background-image: url('../../img/Cooler-Aer-RGB-2/0.png');
}