<div class="form-control">
    {{!-- Formulario para adcionar produto
        ( Nome, Descrição, Valor )
        "Ao criar o produto formará uma entrada e uma saida vazia"
    --}}
    <form action="/admin/addproduto" method="post">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Produto</label>
                        <input name="produto" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="descricao">Valor</label>
                        <input type="number" class="form-control" id="valor" placeholder="Valor">
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1"></label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<br>
<hr>
<br>
