#header{
    height:auto;
}

#product{
    padding-top:5rem;
    margin-bottom:1.7rem;
}

#product .btn{
    background:#8380E8;
    outline:none;
    box-shadow:none;
    border:none;
    color:#fff;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}
#product .btn:hover{
    box-shadow:2px 2px 8px rgba(0,0,0,.8);
}
#product .btn-efect-two{
    width:150px;
    padding:0.6rem 0;
    text-transform: uppercase;
    transition:.4s;
    font-size:.85rem;
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif;
    background:linear-gradient(140deg, rgb(83, 150, 83),rgb(47, 172, 47));
    background-size:200%;
    letter-spacing: 1px;
    margin-right: 1.2em;
}

#product:after{
    content:'';
    display: block;
    width:100%;
    height:2px;
    margin-top:9rem;
    background:#ccc;
}

#product .p-list{
    position:relative;
    display: flex;
    flex-direction: column;
}

#product .p--star{
    position: relative; 
    background: #d4e3fc;
    width: 30rem;
    height:auto;
    padding:3rem;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:0 auto;
}
#product .p-block .p-img:hover{
    transition: .5s;
    cursor:pointer;
    filter:grayscale(0);
}

#product .p-block:hover{
    transform:translateY(10%);
}

#product .p-block{
    position:absolute;
    bottom:-5.5rem;
    background:#a8c6fa;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius:50%;
    width:9rem;
    height: 9rem;
    transition:.5s;
}

#product .p-img-father{
    width:300px;
    height:300px;
    /*background:url('../../img/produto1.png');*/
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#product .p-block:nth-child(2){
    border-radius:0;
    left:6rem;
}


#product .p-block:nth-child(3){
    right:6rem;
}


#product .p-block:nth-child(4){
    left:18.35rem;
}

.one{
    background-image:url('../../img/produto1.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.two{
    background-image:url('../../img/produto2.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.three{
    background-image:url('../../img/produto3.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#product .p-img{
    width:110px;
    height: 110px;
    cursor:pointer;
    filter:grayscale(1);
}

#product .title__product{
    font-family:'Open Sans Condensed', sans-serif; 
    font-size:2.5rem;
    color:#333;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom:.7rem;
    text-transform: uppercase;
}

#product .price__product{
    font-family:'Open Sans Condensed', sans-serif; 
    font-size:2rem;
    font-weight: 700;
    color:#3498db;
}

#product .describe__product{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size:1rem;
    margin-top:2rem;   
    margin-bottom:1rem;
}
#product .p-result label{
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size:1.5rem;
    font-weight: bold;
    line-height: 20px;
}


#product .describe__product::before{
    content:'';
    margin-bottom:1.7rem;
    height:1px;
    background:rgba(0,0,0,.1);
    display:block;
    width:100%;
}

#product .describe__product::after{
    content:'';
    margin-top:1.7rem;
    height:1px;
    background:rgba(0,0,0,.1);
    display:block;
    width:100%;
}

#product .p__result{
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-size:1.2rem;
}

#product .p-result{
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    margin-bottom:1.2rem;
    margin-top:1rem;
}

/* COMPONENTE COMENTÁRIOS  */
#commit{
    position: relative;
    margin-bottom:3rem;
}

#commit .c__title{
    font-family:'Open Sans Condensed', sans-serif; 
    font-size:2.5rem;
    color:#333;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase; 
}

#commit .client::after{
    content:'';
    display: block;
    height: 1px;
    width:25%;
    margin-top:1rem;
    background:rgba(0,0,0,.2);
}

#commit .avatar{
    margin-top:2rem;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#commit .avatar .avatar__img{
    height: 100px;
    width: 100px;
    border-radius:50%;
}

#commit .c__client{
    font-family:'Lato', sans-serif; 
    font-size:1.3rem;
    font-weight: 400; 
    color:#333;
    margin-bottom:8px;
}

#commit .c__commits{
    font-family:'Lato', sans-serif; 
    font-size:1.1rem;
    font-weight:400; 
    color:gray;
    line-height: 24px;
    text-align: justify;
}

#commit .c__date{
    font-size:11px;
    font-weight: 600;
    font-family:'Lato', sans-serif; 
    color:#333;
    padding-left:.1rem;
}

#footer{
    margin-top:8rem;
}