#footer{
    text-align: center;
    background:linear-gradient(120deg, #152038,#0E1724,#0E1724);
    background-size:200%;
    animation-name: rodape;
    animation-delay: .1s;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    padding:1rem 0 0.6rem 0;
    position: fixed;
    bottom:0;
    width:100%;
}

#footer .text__bottom{
    font-size:1.15rem;
    color:#aaa;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height:25px;
    font-weight: 600;
}

#footer .is-active{
    color:#f4f4f4;
}

#footer .logo__bottom{
    margin:1em auto;
}


@keyframes rodape{
    0%{
        background-size:100%;
        background-position: left;
    }
    50%{
        background-size:200%;
        background-position: center;
    }
    100%{
        background-position: right;
        background-size:300%;
    }
}