#footer{
    position:relative;
    height:auto;
    width: 100%;
    margin-top:2rem;
    background:#43b6fe;
}

#footer .logo-rodape{
    height:250px;
    width:250px;
}

#footer .col-md-3{
    text-align: center;
}

#footer .social{
    display: flex;
    flex-direction: column;
}

#footer .f__title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size:1.3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#fff;
    margin-bottom:1rem;
}

#footer .team{
    text-align: justify;
}


#footer .team p{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size:1.1rem;
    color:#fff;
    line-height: 30px;
}

#footer .f-participation p{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size:1.1rem;
    color:#fff;
    line-height: 30px;
}
#footer .f-participation{
    text-align: right   ;
}

#footer .fab:hover{
    color:#000;
    transition:.25s;
}
#footer .fab{
    font-size:2.6rem;
    color:#fff;
    padding:.55rem;
}

#footer .f-borda:after{
    content:'';
    display:block;
    position: absolute;
    top:0;
    transform:translateY(25%);
    right:0;
    width:2px;
    height:205px;
    background:#f2f2f2;
}