@import "../block/miolo-users.css";
@media (min-width:992px){ 
    #header .nav-item:nth-child(1):hover ~ .active{
        transform:translateX(0.5rem) ;
    }
    
    #header .nav-item:nth-child(2):hover ~ .active{
        transform:translateX(6rem) ;
    }
    
    #header .nav-item:nth-child(3):hover ~ .active{
        transform:translateX(12rem);
    }
    
    #header .nav-item:nth-child(4):hover ~ .active{
        transform:translateX(18.5rem);
    }
    #header .h-search:focus{
        box-shadow:2px 5px 10px rgba(0,0,0,0.5); 
    }

    .active{
        height:2px;
        width:5.1rem;
        background:#f2f2f2;
        position:absolute;
        bottom:0.5rem;
        transition: transform .6s;
        transform:translateX(0.5rem);
    }

    #header .h-search{
        position: absolute;
        top:20%;
        left:12.56%;
        border-radius:20px;
        padding:0.8rem 0 0.8rem 3rem;
        width:30rem;
        border:none;
        outline:none;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        text-transform: capitalize;
    }

    #header .icon{
        position:absolute;
        left:13.1%;
        top:27.6%;
        padding:0.3rem;
        width:auto;
        z-index:2;
        background:none;
        outline:none;
        cursor:pointer;
        border:none;
    }

    #header .icon i{
        font-size:1.5rem;
        color:#666;
    }

}

@media (max-width:991px){
    #header .h-search-sm{
        border-radius:5px;
        padding:0.46rem;
        width:15rem;
        border:none;
        outline:none;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        text-transform: capitalize;
    }
    #header .icon:hover{
        background-position:right;
    }
    #header .icon{
        background: linear-gradient(120deg, #3498db,rgb(39, 88, 143),#3498db);
        background-size: 200%;
        color:#fff;
        transition: .3s;
        height: 35px;
        width:45px;
        border-radius:5px;
        padding:0.5rem;
        outline:none;
        cursor:pointer;
        border:none;
    }
    #header a.nav-link:hover{
        transform:translateX(12px);
    }
}
/* MEDIAS QUERYS */

#header{
    background:linear-gradient( to bottom, rgba(0,0,0,.2),rgba(0,0,0,.8)), url('/public/img/capa-j7.png');
    background-repeat: no-repeat;
    background-position: top center ;
    background-size:cover;
    background-attachment: fixed;
    height:550px; 
}

#header .nav-item{
    padding:0 5px;
}

.purple{
    position: fixed;
    z-index:3;
    background:#563d7c;
    transition:.6s;
}

#header a.nav-link{
    color:#fff;
    text-transform:uppercase;
    font-size:1rem;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    transition:.3s;
}

#header .navbar-brand{
    color:transparent;
    background: url('../../img/admin-eshop.png');
    background-repeat: no-repeat;
    background-size: 140px;
    background-position:center;
    display:table;
    transition:.5s;
    width: 150px;
    /* border:1px solid red; */
    padding:0.7rem 0.7rem;
    line-height: 30px;
}

#header .navbar-toggler{
    background: #fff !important;
    cursor:pointer;
    outline:none;
}

