<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/public/img/favicon/apple-icon.png">
    <link rel="stylesheet" href="/public/css/dest/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/dest/reset.css">
    <link rel="stylesheet" href="/public/css/dest/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/public/css/dest/style.css">
    <title>Página Inicial- E-commerce</title>
</head>
<body>
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    {{{body}}}

    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="f-borda col-md-3 d-flex flex-column align-items-center">
                    <div class="f-logo-rodape">
                        <img src="/public/img/logo-rodape.png" alt="Logo-rodape" class="logo-rodape">
                        <p class="f__title">
                            @J7 Informática 2019
                        </p>
                    </div>
                </div>
    
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    
                    <div class="team">
                        <h2 class="f__title">Equipe j7Info</h2>
                        <p>Wesley De Souza</p>
                        <p>Raylson Andrews</p>
                        <p>Marcos Vinicius</p>
                        <p>Paulo Teixeira</p>
                        <p>Leandro De Paiva</p>
                        <p>Lucas Da Rocha</p>
                    </div>
                </div>

                <div class="f-borda col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <div class="f-participation">
                        <h2 class="f__title">Participação</h2>
                        <p>Desenvolvedor</p>
                        <p>Consultoria</p>
                        <p>Desenvolvedor</p>
                        <p>Consultoria</p>
                        <p>Designer</p>
                        <p>Consultoria</p>
                    </div>
                </div>

                <div class=" col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="f__title">Contato</h2>
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="/public/js/popper.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/efect-scroll.js"></script>
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="/public/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="/public/js/efect-product.js"></script>
</body>
</html>