<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/dest/bootstrap.min.css">
    <link rel="stylesheet" href="../css/dest/reset.css">
    <link rel="stylesheet" href="../css/dest/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../css/dest/style.css">
    <link rel="stylesheet" href="../css/templates/cadastro.css">
    <title>Área de cadastro - E-commerce</title>
</head>
<body id="theme__register">
    <header id="header">
            <nav class="container navbar navbar-expand-lg navbar-light container-fluid">
                <a href="index.html" class="navbar-brand">j7 eShop</a>
                <ul class="nav-nav ml-auto">
                    <li class="nav-item">
                        <a href="login.html" class="ancora">Login</a>
                    </li>
                </ul>
            </nav>
                    
    </header>

    <section id="section" class="container">
            <div class="title__register">
                <h1>Complete os seus dados</h1>
            </div>

        <form action="#" method="#" id="registro">

            <div class="row">
                <div class="col-md-6">
                    <div class="field__register">
                        <input type="text" name="" id="">
                        <span data-placeholder="Nome"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="field__register">
                        <input type="text" name="" id="">
                        <span data-placeholder="Sobrenome"></span>
                    </div>
                </div>
            </div>

            
            
            <div class="row">
                <div class="col-md-6">
                    <div class="field__register">
                            <input type="email" name="" id="">
                            <span data-placeholder="E-mail"></span>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="field__register">
                        <input type="password" name="" id="">
                        <span data-placeholder="Senha"></span>
                    </div>
                </div>
            </div>
            <button class="btn btn-efect">Criar conta</button>
        </form>
    </section>

   <footer id="footer">
        <div class="logo__bottom">
            <img src="../img/logo-topo.svg" width="auto" height="70px" alt="Logo">
        </div>
        <p class="text__bottom is-active">&copy; Todos os direitos reservados</p>
    </footer>
    
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/login-efect.js"></script>
</body>
</html>