
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/public/img/favicon/apple-icon.png">
    <link rel="stylesheet" href="/public/css/dest/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/dest/style.css">
    <link rel="stylesheet" href="/public/css/templates/cadastro.css">
    <title>Área de cadastro - J7 E-Shop</title>
</head>
<body id="theme-register">
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light container-fluid">
            <a href="/" class="navbar-brand">j7 eShop</a>
            
            <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="true">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/" class="nav-link"><i class="fas fa-home"></i> Inicio</a></li>
                    <li class="nav-item"><a href="/user/login" class="nav-link"><i class="fas fa-user"></i> login</a></li>
                    <li class="nav-item"><a href="/compra/carrinho" class="nav-link"><i class="fas fa-shopping-cart"></i> Carrinho</a></li>
                    <li class="nav-item"><a href="#footer" class="nav-link"><i class="fas fa-mobile-alt"></i> Contato</a></li>
                    <div class="active"></div>
                    <li class="nav-item">
                        <input type="text" maxlength="30" name="search" id="search" class="h-search-sm h-search" placeholder="Pesquisar produtos">
                        <button class="icon" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="register" class="container">
        <div class="r-field">
            <h1>Complete os seus dados</h1>
        </div>

        <form action="#" method="#" id="r-form">

            <div class="row">
                <div class="col-md-6">
                    <div class="r-info">
                        <input name="" type="text">
                        <span data-placeholder="Nome"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="r-info">
                        <input name="" type="text">
                        <span data-placeholder="Sobrenome"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="r-info">
                        <input name="" type="email">
                        <span data-placeholder="E-mail"></span>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="r-info">
                        <input name="" type="password" name="" id="">
                        <span data-placeholder="Senha"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="r-info">
                        <input name="" type="text">
                        <span data-placeholder="Telefone"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="r-info">
                        <input name="" type="text">
                        <span data-placeholder="Endereço"></span>
                    </div>
                </div>

                <!-- fim da linha  -->
            </div>
        </form>

        <div class="statement"> 
            <button class="btn btn-efect">Criar conta</button>
           
            <div class="col-md-6">
                <p class="term__text">
                    Ver o <a href="#">
                        contrato 
                    </a>
                    do J7 e-shop
                </p>
                <p class="term__text">
                    Ao cadastrar-me, declaro que sou maior de idade e aceito as
                    <a href="#"> Políticas de privacidade</a>
                    e os 
                    <a href="#"> Termos e condições do J7 e-shop</a>
                    e 
                    <a href="#">Mercado Pago j7.</a>
                </p>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="f-borda col-md-3 d-flex flex-column align-items-center">
                    <div class="f-logo-rodape">
                        <img src="/public/img/logo-rodape.png" alt="Logo-rodape" class="logo-rodape">
                        <p class="f__title">
                            @J7 Informática 2019
                        </p>
                    </div>
                </div>
    
                <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                    
                    <div class="team">
                        <h2 class="f__title">Equipe j7Info</h2>
                        
                        <p>Wesley De Souza</p>
                        <p>Raylson Andrews</p>
                        <p>Marcos Vinicius</p>
                        <p>Paulo Teixeira</p>
                        <p>Leandro De Paiva</p>
                        <p>Lucas Da Rocha</p>
                    </div>
                </div>

                <div class="f-borda col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <div class="f-participation">
                        <h2 class="f__title">Participação</h2>
                        <p>Desenvolvedor</p>
                        <p>Consultoria</p>
                        <p>Desenvolvedor</p>
                        <p>Consultoria</p>
                        <p>Designer</p>
                        <p>Consultoria</p>
                        

                    </div>
                </div>

                <div class=" col-md-3 d-flex flex-column justify-content-center align-items-center">
                    <h2 class="f__title">Contatos</h2>
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="/public/js/popper.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/efect-field.js"></script>
</body>
</html>